{% extends 'main/base.html' %}
{% load i18n %}

{% block content %}

<h1>{{ article.title }}</h1>

<ul>
    <div class="article-content">{% trans 'Contenu' %} : {{ article.content}}</div>
    <div class="article-date">{% trans 'Date de publication' %} : {{ article.publication_date }}</div>
</ul>

<a class="button" href="{% url 'article-update' article.id %}">{% trans 'Modifier cet article' %}</a>

<a class="button" href="{% url 'article-delete' article.id %}">{% trans 'Supprimer cet article' %}</a>

<a class="button" href="{% url 'article-list' %}">{% trans 'Retourner à la liste des articles' %}</a>

{% endblock %}