{% extends 'main/base.html' %}
{% load i18n %}

{% block content %}

<h1>Articles</h1>
<a class="button-create" href="{% url 'article-create'%}">{% trans 'Créer un nouvel article' %}</a>

<ul>
    {% for article in articles %}
    <li><a href="{% url 'article-detail' article.id %}">
        <h2>{{ article.title }}</h2>
        <div class="article-content">{{ article.content }}</div>
        <div class="article-date">{{ article.publication_date }}
        <a class="button" href="{% url 'article-update' article.id %}">{% trans 'modifier' %}</a></div>
      </a></li>
    {% endfor %}
 </ul>

{% endblock %}