{% load static %}
{% load i18n %}

<!-- page présente sur toutes les autres pages qui contient le menu de navigation et charge le css etc etc -->
<!DOCTYPE html>
<html>
    <head>
        <title>Main</title>
        <meta charset="UTF-8">
        <!-- le fichier css pour toute l'application -->
        <link rel="stylesheet" href="{% static 'main/styles.css' %}" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    </head>
    <body>

      <!-- menu de navigation -->
        <nav>
          <a href="{% url 'article-list' %}">Articles</a>
          <a href="{% url 'chatbot' %}">Chatbot</a>
        </nav>

        <!-- formulaire de changement de langue -->
        <form id="langue" action="{% url 'set_language' %}" method="post">
          {% csrf_token %}
          <input name="next" type="hidden" value="{{ request.path }}" />
            <select name="language">
                <option value="en">English</option>
                <option value="fr">Français</option>
            </select>
  <!-- la balise trans permet d'écrire des traductions pour chaque mot ou phrase que l'on veut traduire, les trad sont stockées dans les fichiers locale/fr ou en/django.po -->
          <input type="submit" value="{% trans 'Change Language' %}">
        </form>

        <div class="contenu">

          {% block content %}{% endblock %}

        </div>
     
    </body>
</html>